/MurderOnTheRocks/.vs/MurderOnTheRocks/FileContentIndex
/MurderOnTheRocks/.vs/MurderOnTheRocks/v18
/MurderOnTheRocks/Library
/MurderOnTheRocks/Logs
/MurderOnTheRocks/UserSettings
/MurderOnTheRocks/Temp
